/* footer - control wrapper */
/*=======================================================================================*/

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 240px;
    z-index: 500;
}

.footer_all{
    width:100%; 
    display: flex; 
    justify-content: space-between; 
    padding: 0 80px;
}

.bottom_control_wrap {
    width: 100%;
    height: 240px;
    position: relative;
    display: flex;
    background:#000;
  }

  .logo_inner{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 100px;
  }

  .control_inner {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
  }
  .control_inner h3 {
    color: #AAAAAA;
    font-size: 5.6rem;
    transition: all 1s ease;
  }
  .control_inner .btn_wrap {
    display: flex;
    gap: 4px;
  }
  .control_inner .btn_wrap .btn {
    display: flex;
    width: 130px;
    height: 130px;
    border-radius: 18px;
    background: #4b4c56;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6), inset 0 1px 1px rgba(255, 255, 255, 0.16),
      inset 0 -1px 1px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
  }
  .control_inner .btn_wrap .btn img {
    width: auto;
    max-width: 63px;
    max-height: 60px;
    display: block;
  }
  .control_inner .btn_wrap .btn:active {
    transform: translateY(3%);
    background: #444550;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), inset 0 1px 1px rgba(255, 255, 255, 0.16),
      inset 0 -1px 1px rgba(0, 0, 0, 0.3);
  
    animation-fill-mode: both;
  } 
  .control_inner .btn_wrap .btn.minus {
    border-radius: 18px 6px 6px 18px;
    padding-left: 3px;
  }
  .control_inner .btn_wrap .btn.plus {
    border-radius: 6px 18px 18px 6px;
  }
  .control_inner .btn_wrap .btn.plus img,
  .control_inner .btn_wrap .btn.minus img {
    max-width: 48px;
    max-height: 48px;
  }
  .control_inner .btn_wrap .btn.onoff {
    width: auto;
    font-size: 5.6rem;
    font-weight: 500;
    transition: all 0.1s ease;
    width: 200px;
  }

  .control_inner .btn_wrap .btn.onoff.active{
    background: #5356E5;
    color:#fff;
  }
  
  .control_inner .btn_wrap .btn.btn_color_reversal{
    background: #FFD500;
    color:#000;
  }
  
  .control_inner .btn_wrap .btn.btn_color_reversal span{
    display:inline-block;
    word-break: keep-all;
    padding-left: 5px;
  }
  
  .control_inner .btn_wrap .btn.btn_signcharacter.active{background-color: var(--main-color); color: var(--main-txt-color);}
  
  /* control_pop */
  .control_pop {
    display: none;
    position: absolute;
    bottom: 100%;
    background: rgba(0, 0, 0, 0.5);
    width: 800px;
    height: 240px;
  }
  
  .zoom_btn{text-align: center; padding-bottom: 12px; border-bottom: 1px dashed #666975;}
  .zoom_btn button{background: none;}
  
  /* volumn_wrap */
  .volumn_wrap {
    padding: 20px 160px 0;
  }
  .volumn_wrap h3 {
    font-size: 56px;
    text-align: center;
    margin-bottom: 30px;
  }
  .volumn_wrap .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .volumn_wrap .inner span {
    color: #fff;
    font-size: 56px;
    text-align: center;
  }
  .volumn_wrap .inner ul {
    flex: 1;
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    line-height: 8rem; /* 20px */
  }
  
  .volumn_wrap .inner ul li {
    font-size: 0;
    line-height: 0;
    background: var(--main-color);
    width: 15px;
    height: 80px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 2;
  }
  
  .volumn_wrap .inner ul li.active ~ li {
    background: #fff;
  }
  
  /* volumn_wrap */
  .zoom_wrap {
    padding: 12px 10px;
  }
  .zoom_wrap h3 {
    font-size: 5.6rem;
    text-align: center;
    margin:10px 0;
  }
  .zoom_wrap .inner {
    display: flex;
    justify-content: center;
  }
  .zoom_wrap .inner ul {
    height: 140px;
    line-height: 40px; /* 40px */
    position: relative;
  }
  .zoom_wrap .inner ul::before {
    display: block;
    content: '';
    background: #cfcfcf;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 4px;
    height: 130px;
  }
  .zoom_wrap .inner ul li {
    font-size: 1rem; /* 14px */
    z-index: 2;
    position: relative;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    padding-left: 24px;
  }
  .zoom_wrap .inner ul li::before {
    display: block;
    content: '';
    background: #cfcfcf;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .zoom_wrap .inner ul li.active::before {
    display: block;
    content: '';
    background: #1A6CDB;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* speed_wrap, font_wrap */
  .speed_wrap, .font_wrap {
    width: 100%;
    height: 100%;
    padding: 20px 80px 30px;
  }
  .speed_wrap h3, .font_wrap h3 {
    font-size: 56px;
    text-align: center;
    margin-bottom: 3rem;
  }
  .speed_wrap .inner, .font_wrap .inner {
    display: flex;
    height: 110px;
  }
  .speed_wrap .inner ul, .font_wrap .inner ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3px;
    position: relative;
  }
  .speed_wrap .inner ul::before, .font_wrap .inner ul::before {
    display: block;
    content: '';
    background: #cfcfcf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 4px;
  }
  .speed_wrap .inner ul li, .font_wrap .inner ul li {
    font-size: 56px;
    z-index: 2;
    color: #888888;
    font-weight: 600;
    position: relative;
    transform: translateY(80px);
    transition: all 0.3s ease;
  }
  .speed_wrap .inner ul li::before, .font_wrap .inner ul li::before {
    display: block;
    content: '';
    background: #cfcfcf;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
  }
  .speed_wrap .inner ul li.active::before, .font_wrap .inner ul li.active::before {
    width: 20px;
    height: 20px;
    border: 10px solid var(--main-color);
  }

  /* sign_wrap */
  .sign_pop{right: -80px;}
  .sign_wrap{width: 100%; height: 100%;}
  .sign_wrap .inner{width: 100%; height: 100%; display:flex; justify-content: center; align-items: center;}
  .sign_wrap .inner p{font-size: 56px;}

  /* 수어 */
.sign_character{visibility: hidden; position: fixed; right:-32%; bottom:240px; width:100%; height: calc(100% - 200px); z-index: 1500; pointer-events: none;}
.sign_character .inner{width:100%; height: 100%;}

/* 수어모드 */
.sign_on .sign_character{visibility: visible;}
.sign_on .cont_inner{width:68%; margin-left: auto;}

.reverse .speed_wrap .inner ul li.active::before, 
.reverse .font_wrap .inner ul li.active::before{background: black;}